html, body, h1, h2, h3, h4, h5, h6 {
    font-family: 'Sacramento', cursive;
    font-weight: 600;
    color:rgb(82, 12, 136);
  }

  #highlight {color: blue}

  #delete {color: red}

  ul li{
    font-size:40px;
    color: rgb(82, 12, 136);
   }

  body { background-color: beige;
    background-image: radial-gradient(rgba(184, 255, 113, 0.993) 9px, transparent 10px),
     repeating-radial-gradient(pink, pink 4px, transparent 5px, transparent 20px, pink 21px, pink 25px, transparent 26px, transparent 50px)
     ; background-size: 30px 30px, 90px 90px; background-position: 0 0; }

     .loader {
      border: 16px solid #f3f3f3; /* Light grey */
      border-top: 16px solid grey; /* Blue */
      border-radius: 50%;
      width: 120px;
      height: 120px;
      animation: spin 2s linear infinite;
    }
    
    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
    